body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resolved {
  text-decoration: line-through;
}

.is-position-absolute{
  position: absolute;
} 
.is-fullscreenheight{
  height: 100vh;
}
.is-fullwidth{
  width: 100%;
}


.is-non-clickable{
  cursor: not-allowed !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
