body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resolved {
  text-decoration: line-through;
}

.is-position-absolute{
  position: absolute;;
} 
.is-fullscreenheight{
  height: 100vh;
}
.is-fullwidth{
  width: 100%;
}

.alert-box{
  position: fixed;
  font-size: 17px;
  z-index: 100;
  left: 45%;
  top: 15%;
}

.is-non-clickable{
  cursor: not-allowed !important;
}

.has-border-success{
  border: 2px solid hsl(141, 71%, 48%);
}

.has-border-danger{
  border: 2px solid hsl(348, 100%, 61%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
